<h2>Registro usuarios:</h2>
<hr>
<form>
    <div id="mensaje"></div>
    <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre">
    <input type="email" name="email" id="email" placeholder="Correo electrónico">
    <input type="password" name="password" id="password" placeholder="Contraseña">

    <input type="submit" value="Registrar" id="btnSubmit">
</form>

{{>menu}}


<script src="/js/register.js"></script>
